/*Tricks*/
.cf:after {
  content: "";
  display: table;
  clear: both;
}


/*Style*/
html {
	font-size: 20px; /*1em = 20px*/
	line-height: 180%;
	color: #303030;
}
body {
	font-family: sans-serif;
}
header {
	padding: 2% 0;

	color: #FAFAFA;
  position: relative;

	text-align: center;
	background: url(../img/bg.png) no-repeat fixed;
  background-position: center 0;
  background-size: cover;
	overflow: hidden;
}
svg{
  position: absolute;
  bottom: 0;
  left: 0;
  fill:#fff;
}
footer {
	padding: 5px 0;
	background-color: #49a09d;
}
h1, h2 {
	line-height: 150%;
}
h1 {
	font-size: 3.5em;
}
h2 {
	transform: translateX(-50px);
	font-size: 4em;
	color: #BBB;
	opacity: .15;
}
h2 + p{
	margin-top: -1.5em;
	font-size: 2.1em;
	margin-bottom: 3em;
	line-height: 150%;
	font-weight: bold;
}
h3 {
	font-size: 1.6em;
	margin-top: 1.5em;
}
p {
	margin: 1.3em 0;
	width: 100%;
	font-size: 1.15em;
}
a {
	padding: 5px 5px;

	color: #2AAF74;

	position: relative;
	z-index: 10;

	transition: all .2s ease;
}
#swap_color /*Pour cibler un élément hmtl par son ID, utiliser #suividesonnom*/ {
	padding: 20px 35px;
	margin-right: 10%;

	background-color: #4ED99C;
	border-radius: 50px;
	border: 2px solid #FFF;

	color: #FAFAFA;
	font-size: 1.2em;

	transition: all .3s ease;
}
#swap_color:hover {
	background-color: #FAFAFA;
	border: 2px solid #4ED99C;
	color: #4ED99C;
}

#square {
	display: inline-block;
	height: 4em; /*80*/
	width: 80px;
	vertical-align: middle;

	text-indent: -9999px; /*Déplace le contenu de la balise ciblée en dehors du site,
	pour éviter de laisser une balise <div> vide. */
}
.title{
	width: 41.66666666666%;
	height: 400px;
	background: url(../img/logo.png) no-repeat center center;
	background-size: contain;
	text-indent: -9999px;
	margin: 0 auto;
}
.color_blue {
	background-color: #253B6E;
}
.color_green {
	background-color: #2AAF74;
}
.list {
	margin-top: 1.3em;
	margin-left: 3%;
}
.list__el {
	position: relative;
	margin-bottom: .8em;
}
.list__el:before, a:after {
	content: "";
	display: inline-block;
	position: absolute;

	top: 0;
	left: 0;
}
.list__el:before {
	top: 0;
	left: -20px;
	transform: translate(-50%, 50%) rotate(45deg);

	height: 15px;
	width: 15px;
	border-top: 3px solid #2AAF74;
	border-right: 3px solid #2AAF74;
}
.link:after {
	height: 100%;
	width: 0%;
	z-index: -1;

	transform: translate(-5px, 3px);

	background-color: #333;
	opacity: .8;

	transition: all .2s ease;
	opacity: .1;
}
.link:hover:after {
	width: 105%;

}
.auteur{
	display: block;
	width: 75px;
	height: 75px;

	margin: 100px auto 0;
	position: relative;
}
.auteur img{
	width: 100%;
	border-radius: 50%;
}
.auteur:after,
.auteur:before{
	content: "";
	width: 100%;
	height: 2px;
	background: #ccc;
	position: absolute;
	left: -150%;
	top: 50%;
}
.auteur:after{
	left: inherit;
	right: -150%;
}
.bold {
	font-weight: bold;
}

/*Container & columns & sections*/
.container {
	max-width: 960px;
	margin: 0 auto;

	padding-bottom: 3.5em;
}
.exo {
	width: 100%;
	margin-top: 1em;
}
.exo_01 {

}
.exo_01 p {
	display: inline-block;
	width: 100%;
}
.center {
	text-align: center;
	margin-bottom: 5em;
}
footer small {
	margin: 0;
	float: right;
}
footer a {
	color: #FAFAFA;
}
footer .container {
	padding: 0;

}
@media (max-width:1000px) {
  body{
    font-size: 14px;
  }
  .container{
    width: 90%;
  }
  .title{
    width: 100%;
  }
  svg path{
    width: 100%;
  }
  footer .container{
    text-align: center;
  }
  footer small{
    float: none;
  }
}
